In [52]:
##Pandas provides easy to use data structures and data analysis tools for python and it is open source.
# Data frame is a combination of rows and columns and represents the data as in excel sheet.
import pandas as pd
import numpy as np

In [58]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=["col1","col2","col3","col4"])

In [59]:
df.head() ## SYNTAX for dataframe: pd.DataFrame(data,index(rows),columns)

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [60]:
## we can convert it to an excel sheet (csv i.e comma separated)
df.to_csv('Test1.csv')

In [63]:
#accessing the elements , two ways:-
# 1. .loc --> it will be focusing on row index
#2. .iloc (index location) --> it will be focusing on both row and column indexes
df.loc["row1"] ##series

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32

In [71]:
##series can either be one row or column
df.iloc[0:3,0:1] ## just like numpy rows,columns
## type of iloc will be dataframe as we have rows and columns
## R programming has indexing from 1

      col1
row1     0
row2     4
row3     8

In [67]:
type(df.iloc[0:,0]) ## its type will be series as no rows

pandas.core.series.Series

In [73]:
#convert dataframes to arrays
df.iloc[:,1:].values  ##.values converts it to arrays

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [74]:
df.isnull().sum()  ##IMPORTANT to check null values

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [76]:
df["col1"].value_counts()  ##count of elements
df["col1"].unique()  ## shows unique values

array([ 0,  4,  8, 12, 16])

In [81]:
df[["col1","col2"]] ## converted to list to show multiple columns

      col1  col2
row1     0     1
row2     4     5
row3     8     9
row4    12    13
row5    16    17